
<root>

  <Camera>
    <dirX type="f">0</dirX>
    <dirY type="f">0</dirY>
    <dirZ type="f">1</dirZ>
    <fovY type="f">45</fovY>
    <posX type="f">0</posX>
    <posY type="f">0</posY>
    <posZ type="f">0</posZ>
    <upX type="f">0</upX>
    <upY type="f">1</upY>
    <upZ type="f">0</upZ>
    <velocityRotate type="f">0.005</velocityRotate>
    <velocityTranslate type="f">0.200000003</velocityTranslate>
  </Camera>

  <Raytracing>
    <reflectionDepth type="i">5</reflectionDepth>
  </Raytracing>

  <Window>
    <height type="i">768</height>
    <maxFPS type="i">60</maxFPS>
    <width type="i">1024</width>
    <windowed type="b">1</windowed>
  </Window>

</root>